Debug
Release
build

bin/
lib/

CMakeCache.txt
CMakeFiles
*.cmake
*.dir
Testing/

Makefile
*.ncb
*.suo
.*.sw*
*.user
*sdf
*.vc*
*~
doc
core
*ipch
.settings/

build.ninja
.ninja_deps
.ninja_log
rules.ninja

*.pyc

tags
